<!DOCTYPE html>
<html>
<head>
	<title>Template Testing</title>
</head>
<body>
<h1>This is prototype of templating engine</h1>
<p>{{ test }}</p>

<p>{{ mest.test }}</p>

<p>{{ (5 + 4) / 3 }}</p>

<ul>
	{% for (item in items) %}
		<li>{% item %}</li>
	{% endfor %}
</ul>

<div>
	{% for (item in objectItems) %}
		<p>{% item.name %} -> {% item.age %}</p>
	{% endfor %}
</div>

<ul>
	{% for (item in items) %}
		<li>{% item %}</li>
	{% endfor %}
</ul>

<ul>
	{% for (item in items) %}
		<li>{% item %}</li>
	{% endfor %}
</ul>

<ul>
	{% for (item in items) %}
		<li>{% item %}</li>
	{% endfor %}
</ul>

</body>
</html>